.maincontent {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0%;
}

.orbitcontent{
    position: absolute;
    z-index: 1;
    top: 0%;
    width: 100% ;
    height: 100vh;
    background: radial-gradient(circle at center, #9E5CF7 0%, #000000 25%, #000000 100%);
}

#textcontent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    z-index: 10;
}

#itemone {
    width: 300px;
    height: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: black;
    border-radius: 30px;
}

#itemone h6 {
    width: 40px;
    height: 20px;
    background-color: #6B3FC8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 10px;
}

#itemone p {
    color: #6B3FC8;
}

#itemtwo{
    text-align: center;
}

#ww {
    color: #FDFDFE;
    font-weight: 500;
    font-size: 5rem;
}

#two {
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #FFFFFF 50%,
    #C492DA 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 500;
  font-size: 5rem;

  text-shadow:
    0 2px 6px rgba(210, 179, 224, 0.25),
    0 6px 28px rgba(196, 146, 218, 0.15);
}

#conetenpara{
   color: #E3DAF2;
    font-size: x-large;
    text-align: center;
}

#buttoncontent{
    width: 130px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#buttoncontent button{
    width: 110px;
    height: 38px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s;
    &:hover{
        background-color: #6B3FC8;
        color: white;
    }
}

#imgcontent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}

#imgcontent img{
    width: 1200px;
    height: auto;
}

.imgcontainer{
    width: 100%;
    height: 100vh;
    background-color:black;
}