.maincontent {
    width: 100%;
    height: 1000px;
    position: relative;
    top: 0%;
    background-color: #000000;
}

.orbitcontent{
    position: absolute;
    z-index: 1;
    top: 0%;
    width: 100% ;
    height: 100vh;
    background: radial-gradient(circle at center, #9E5CF7 0%, #000000 25%, #000000 100%);
}

#imagesconatiner{
    position: absolute;
    z-index: 10;
    top: 580px;
    width: 100%;
    height: 100vh;
}

#textcontent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    padding-top: 150px;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    z-index: 10;
}

#itemone {
    width: 270px;
    height: 40px;
    border: 1px solid rgb(53, 45, 45);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: black;
    border-radius: 30px;
}

#itemone h6 {
    width: 35px;
    height: 15px;
    background-color: #A45CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    border-radius: 10px;
}

#itemone p {
    font-size: 15px;
    font-weight: 500;
    color: #B87EFF;
text-shadow: 0 0 8px rgba(184, 126, 255, 0.6);
}

#itemtwo{
    text-align: center;
}

#ww{
    color: #FDFDFE;
    font-weight: 550;
    font-size: 75px;
}

#two {
  background: linear-gradient(
    180deg,
    #FFFFFF 0%,
    #FFFFFF 50%,
    #C492DA 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: 550;
  font-size: 75px;

  text-shadow:
    0 2px 6px rgba(210, 179, 224, 0.25),
    0 6px 28px rgba(196, 146, 218, 0.15);
}

#conetenpara{
   color: #E3DAF2;
    font-size: large;
    text-align: center;
}

#buttoncontent{
    width: 130px;
    height: 50px;
    border: 1px solid rgb(140, 69, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#buttoncontent button{
    width: 110px;
    height: 38px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s;
    &:hover{
        background-color: #6B3FC8;
        color: white;
    }
}

#imgcontent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}

#imgcontent img{
    width: 1200px;
    height: auto;
}

.imgcontainer{
    width: 100%;
    height: 100vh;
    background-color:black;
}

hr{
    border: none;
    border-top: 1px solid rgb(53, 45, 45);
}

