.navicon img {
    width: 50px;
    height: auto;
}

.navicon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navcenter {
    width: 600px;
    height: 50px;
    border: 1px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navcenter ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navcenter li {
    list-style: none;
    color: white;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover {
        opacity: 1;
    }
}

.navbutton button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(90deg, #6B3FC8, #9B6FEF);
}

.navbutton {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.15);
    }
}

.navbarcontent {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}

.maincontent{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #0B0014, #2B004F, #7B2CFF);
}